.card-widgets__widget-amo_support {
  background-color: rgb(0, 128, 189);
}

.amo_support-form {
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  background: #fff;
}

.amo_support-button {
  padding: 5px 0;
  background: #fafafb;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
}

.amo_support-button-enable {
  border: 1px solid #4077d6;
  background: #4c8bf7;
  color: #fff;
}

.amo_support-button-ellow {
  background: #e5b023;
  border-color: #d2a01a;
  color: #fff;
}

.amo_support-selector_disabled {
  background-color: #ffdbe0;
  pointer-events: none;
  cursor: default;
}

.amo_support-parrent__selector {
  margin-left: 23px;
  margin-top: 10px;
  width: 85%;
}

.amo_support-form .spinner-icon {
  margin: 0 auto;
  border-bottom: 1px solid #f4f4f5;
}


._amobase-frame {
	height: 100%;
	width: 100%;
}

.search_field_text {
    width: 235px;
    height: 25px;
}
.card-widgets__widget-new_widget .card-widgets__widget__body {
    padding: 0 10px 0px;
    padding-bottom: 5px;
    background-color: grey;
}
.ac-form {
    padding: 5px 15px 15px;
    margin-bottom: 10px;
    background: #fff;
}
.js-ac-caption  {
    display: block;
    margin: auto;
    background-color : grey;
}
 
.lists_amo_ac ul li span {
    color: #81868f;
}
.ac-form-button{
    padding: 5px 0;
    background: #fafafb;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.15);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
}
.ac-form-button:active{
     background: grey;        
}
.ac-already-subs {
    position: absolute;
    width: 245px;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    color: #f37575;
    background: #fff;
}
#js-ac-sub-lists-container, #js-ac-sub-subs-container {
    min-height: 38px;
}

.bg_blue {
	background-color: #339dc7;
}

a:hover {
	color: #50717c;
	text-decoration: none;
}

a {
	color: #0386b4;
}

.main-content-block {
	background-color: #f0f4f6;
	padding-left: 0;
	padding-right: 0;
}

.control-panel {
	background-color: #004051;
	height: 40px;
}

.write_article_button,
.create_section_button,
.level_selector {
	background-color: #002236;
	color: #9da8ae;
	display: inline-block;
	height: 100%;
	padding: 10px;
}

.current_level {
	color: #777;
	background-color: #f0f4f6;
	display: inline-block;
	height: 100%;
	padding: 10px;
}

.search_input {
	border: 0;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	background-color: #002236;
	color: #9da8ae;
	width: 300px;
}

.search_input:focus {
	outline-width: 0;
}

.form_search_input {
	display: inline;
}

.search_hit {
	background-color: #ffff48;
	color: black;
}

.write_article_button:hover,
.create_section_button:hover,
.level_selector:hover {
	color: #fff;
}

.section_list,
.search_results {
	padding: 10px;
}

.sections_select {
	height: 200px !important;
}

.container-pads {
	margin-top: 20px;
}

.editor_not_client {
	color: darkgrey !important;;
}

.editor_warning,
.error-comment {
	color: firebrick !important;
}

.editor_usual {
	color: black !important;
}

.nested_section,
.nested_article {
	padding-left: 30px;
}

.article_content,
.article_content_brief {
	margin-top: 5px;
}

.label-primary {
	background-color: #339dc7;
}

.article_content img {
	cursor: pointer;
}
